[Unit]
BindTo=%i.device
After=%i.device

[Service]
Type=oneshot
TimeoutStartSec=0
Environment=DEVNAME=%I
ExecStart=/usr/share/usbmount/usbmount add
ExecStartPost=/usr/bin/python /home/pi/dataObliterator.py
RemainAfterExit=yes
